@import "node_modules/scss-starter/global-variables";

ion-content {
  --ion-background-color: #0098da;
}

.logo {
  width: 100%;
  max-width: $screen-xxxs;
  margin-bottom: $space-sm;
  svg {
    height: 50px;
    * {
      fill: white;
    }
  }
}

a {
  color: #ffffff;
  margin-top: 30px;
  display: block;
  z-index: 100;
}

.authentication {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: $space-md;
  margin-right: $space-md;
  form {
    width: 100%;
    max-width: $screen-xxxs;
  }
  ion-list {
    ion-item {
      border-radius: .125rem;
      &:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  svg {
    position: fixed;
    left: -75%;
    opacity: .05;
    width: 200%;
    min-width: 1280px;
    animation-name: spin;
    animation-duration: 640s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
